__pycache__/

_build/
_data/

.idea
.settings
.project
.pydevproject
*.sublime-project
*.sublime-workspace
.DS_Store
*~
*.sw[op]

# editor
.vscode

# secrets
exercises/k8s/client-certs
my-docker-certs-ca/
my-docker-certs-client/
registry_certs/